.logo-img {
	width: 15vmax;;
}

.nav-radius {
	border-radius: 30px;
}

.radius{
	border-end-end-radius: 30px;
	border-end-start-radius: 30px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	transition: all 0.4s ease-in-out;
}

.radius:hover {
	border-end-end-radius: 3px;
	border-end-start-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}



body {
	background-color: #0f1116;
	margin: 0;
}


.home-grid {
	display: grid;
	grid-gap: 1.5rem;
	grid-template-columns: repeat(3, 1fr);
}

.grid-span-col-1 {
	grid-column: span 1;
}

.grid-span-row-1 {
	grid-row: span 1;
}


.grid-span-col-2 {
	grid-column: span 2;
}

.grid-span-row-2 {
	grid-row: span 2;
}

.grid-span-col-3 {
	grid-column: span 3;
}

.grid-span-row-3 {
	grid-row: span 3;
}

.navbar-grid {
	display: grid;
	grid-gap: 1.5rem;
	grid-template-columns: repeat(6, 1fr);
}

.header {
	font-weight: bold;
	font-size: 4.5rem;
	color : white;
	flex: auto;
	padding: 1rem;
}

.align-center {
	text-align: center;
}

.paragraph {
	font-size: 1.5rem;
	color : white;
	flex: auto;
	padding: 1rem;
}

.features-grid {
	display: grid;
	grid-gap: 1.5rem;
	grid-template-columns: repeat(3, 1fr);
	padding-left: 1rem;
	padding-right: 1rem;
}

.container-grid {
	display: grid;
	grid-gap: 1.5rem;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
}

.magenta {
	background-color: #cb487d;
}

.blue {
	background-color: #4eb0dd;
}

.blue-dark {
	background-color: #4079ba;
}

.container-grid-1 {
	display: flex;
	align-items: center;
	text-align: center;
}


